body, html {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Consistent dark mode background */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Screen-friendly sans-serif font */
    color: #d5d5d5;
    display: flex;  /* Sets the body to use Flexbox */
    flex-direction: row;  /* Align children (panels) in a row */
    height: 100%;  /* Take full height of the viewport */
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;  /* This spreads out the children elements */
    background-color: #101010;  /* Darker tone for the bar */
    padding: 2px 10px;
}

.menu-bar {
    display: flex;
    flex: 1;  /* Allows the menu bar to grow and take necessary space */
}

.menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}

.search-bar {
    flex: 0 1 300px;  /* Flex-grow, flex-shrink, flex-basis */
    padding: 5px 10px;
    margin: 0 20px;  /* Centering margin if needed */
    background-color: #161616;
    border: 1px solid #555;
    color: #d5d5d5;
    text-align: left;  /* Aligns text in the center */
    border-radius: 4px;  /* Optional: Adds rounded corners */
}

.panel-toggles {
    display: flex;
    flex: 1;  /* Similar to menu-bar, allowing it to grow */
    justify-content: flex-end;  /* Aligns the toggle buttons to the right */
}

.panel-toggles button {
    /* Button styles */
}

.logo {
    height: 16px;
    margin-right: 5px;
}

.menu li {
    position: relative;
    padding: 5px 10px;
}

.menu a {
    display: block;
    color: #d5d5d5;
    text-decoration: none;
    font-size: 13px; /* Slightly larger font size */
}

.menu a:hover, .menu a.dropbtn:focus {
    background-color: #454545; /* Subtle hover effect */
    border-radius: 4px; /* Rounded corners on hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #252526;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    border: 1px solid #333;
    z-index: 1000;
    border-radius: 4px; /* Rounded corners for dropdown */
    padding: 5px 0; /* Vertical padding for breathing room */
}

.dropdown-content a {
    padding: 10px 15px; /* Increased spacing for legibility */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.panel-toggles button {
    background-color: transparent;
    border: none;
    color: #d5d5d5;
    padding: 5px;
    cursor: pointer;
}

.panel-toggles button:hover {
    background-color: #333;
    border-radius: 4px;
}

.panel-toggles button img {
    height: 16px;  /* Set the height to 16px */
    width: auto;   /* Maintain the aspect ratio */
}

.panel {
    background-color: #262626;  /* Distinguishing color */
    color: #d5d5d5;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    flex-grow: 1;  /* Allows the panel to grow and take up available space */
    min-width: 250px;  /* Minimum width of each panel */
    height: calc(100% - 26px);  /* Adjust height as necessary */
    resize: horizontal;  /* Allow horizontal resizing */
}

#left-panel {
    resize: horizontal;
    overflow: auto;
    display: block; /* Left panel is visible by default */
    width: 16%;
    border: 1px solid #444;  /* Makes the resize area more obvious */
}

#right-panel {
    resize: horizontal;
    overflow: auto;
    display: none; /* right panel is initially hidden */
    width: 16%;
    border: 1px solid #444;  /* Makes the resize area more obvious */
}
